html,
body {
  height: 100%;
  background: transparent;
}

body {
  margin: 0;
  background: transparent;
  color: var(--el-text-color-primary);
}

:root {
  --ws-aside-width: 200px;
  --ws-window-radius: 0px;
}

#app {
  height: 100%;
  width: 100%;
  border-radius: var(--ws-window-radius);
  overflow: hidden;
  background: var(--el-bg-color);
  border: 1px solid var(--el-border-color);
  box-sizing: border-box;
}
