html,
body {
  height: 100%;
}

body {
  margin: 0;
  background: var(--el-bg-color);
  color: var(--el-text-color-primary);
}

:root {
  --ws-aside-width: 180px;
}

#app {
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
}
