@font-face {
  font-family: 'WS Source Han Sans SC';
  src: url('../assets/fonts/SourceHanSansSC-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WS Source Han Sans SC';
  src: url('../assets/fonts/SourceHanSansSC-Regular.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'WS Source Han Sans SC';
  src: url('../assets/fonts/SourceHanSansSC-Regular.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

html,
body {
  height: 100%;
  background: transparent;
}

body {
  margin: 0;
  background: transparent;
  color: var(--el-text-color-primary);
  font-family: var(--ws-font-family);
  font-weight: 400;
}

:root {
  --ws-aside-width: 200px;
  --ws-window-radius: 0px;
  --ws-font-family: 'WS Source Han Sans SC', system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica,
    Arial, 'Apple Color Emoji', 'Segoe UI Emoji';
  --el-font-family: var(--ws-font-family);
  --el-font-weight-primary: 400;
}

#app {
  height: 100%;
  width: 100%;
  border-radius: var(--ws-window-radius);
  overflow: hidden;
  background: var(--el-bg-color);
  border: 1px solid var(--el-border-color);
  box-sizing: border-box;
}
